.calendar-page {
    .fc-event-time {
        display: none !important;
    }
    .styleEvent {
        .fc-event-title {
            text-overflow: ellipsis;
        }
    }
    &-search {
        padding: 20px 20%;
        &__button {
            margin-top: 21.6px;
            
        }
    }
    
}