.side-bar {
    height: 100%;
    &-title {
        width: 100%;
        .home {
            height: 38px;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
            background: rgba(0, 0, 0, 0.3);
        }
        .btn-collapsed {
            display: inline-block;
            width: 120px;
            float: right;
            opacity: 0.9;
        }
    }
    &-collapsed {
        min-width: 120px !important;
    }

    .ant-menu-dark {
        height: 100%;
    }

    .ant-menu-inline {
        min-width: 240px !important;
    }

}