@import "./../common/variable.scss";

.root-wrapper {
    background-color: $color-white-purple;
    .root {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        background-color: #fff;
        &-left {
        }
        &-right {
            z-index: 10;
            min-height: 100vh;
            width: 100%;
            position: relative;
            &_content {
                padding: 35px;
                background-color: transparent;
            }
        }
    }

    .center-page {
        border: 1px solid #d7d7da;
        margin: 0 7%;
        background-color: #fff;
        .separator {
            border-bottom: 1px solid #eee;
            margin: 20px 0;
        }
    }
}
