.root {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    &-left {

    }
    &-right {
        min-height: 100vh;
        width: 100%;
        &_content {
            padding: 35px;
            background-color: #F1F3F6;
        }
    }
}

.center-page {
    border: 1px solid #D7D7DA;
    margin: 0 7%;
}