.sign-up {
    &-title {
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        color: #0A579F;
    }
    &-class {
        color: #5DB5E9;
        font-size: 16px;
        font-weight: bold;
    }
    &-table {
        thead {
                th {
                    .ant-checkbox {
                        &:first-child {
                            display: none;
                        }
                            
                    }
                    
                }
        }
    }
}