$color-white: #f7f8fe;
$color-red: #f94e57;
$color-blue-light: #78bcc4;
$color-blue-dark: #002c3e;
$color-white-purple: #ededff;

//color shift
$shift-1: #003099;
$shift-2: #006666;
$shift-3: #2e9900;
$shift-4: #cf7421;
$shift-5: #ffff00;
$shift-6: #ff9a00;
$shift-7: #cd0000;
$shift-8: #9a0066;
$shift-9: #24f5f5;
$shift-10: #66cd00;
