@import "./../../../common/variable.scss";

.semester-management {
    background-color: $color-white;
    border-radius: 10px;
    padding: 25px 22px;
    .breadcrumb {
        font-size: 2rem;
    }
    .table {
        margin-top: 30px;
    }
    &-popup {
    }
}
